<div *ngIf="vm$ | async as vm">
  <mat-card class="info loading" *ngIf="vm.loading">LOADING</mat-card>
  <mat-card class="info error" *ngIf="vm.error"
    >ERROR: {{ vm.error.message }}</mat-card
  >
  <div class="container p1" *ngIf="!vm.loading && vm.data as posts">
    <h2>Items:</h2>
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
  </div>
  <div>
    <button mat-raised-button color="accent" (click)="alertUser()">
      Alert
    </button>
    <p></p>
    <button mat-raised-button (click)="logMessage()">Log Message</button>
    <p></p>
    <button mat-raised-button (click)="loadPosts()">Load Posts</button>
    <p></p>
  </div>
</div>
